body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  color: #333;
}

/* Default styles for larger screens */
.quiz {
  width: 60%;
  margin: auto;
}

.btn {
  width: auto;
}

/* Styles for tablets */
@media (max-width: 768px) {
  .quiz {
    width: 80%;
  }

  .btn {
    width: 100%;
  }
}

/* Styles for mobile devices */
@media (max-width: 480px) {
  .quiz {
    width: 100%;
    padding: 10px;
  }

  .btn {
    width: 100%;
  }
}


.quiz {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 100vh;
  height: 100%; 
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

button, .btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover, .btn:hover {
  background: #0056b3;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.options {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options li {
  background: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.options li:hover {
  background: #ced4da;
}

.options li.selected {
  background: #007bff;
  color: white;
}

.score {
  font-size: 1.2rem;
  margin-top: 20px;
}

.style {
  height: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.style input[type="radio"] {
  margin-right: 10px;
}

.style input[type="radio"]:checked + span {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s ease;
}
